/* ---- reset ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  color: white;
  white-space: nowrap;
  text-align: center;
}

.intro-job {
  font-size: 18px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 5;
  animation: animate 2s linear;
}

.intro img {
  position: relative;
  z-index: 5;
  width: 150px;
  margin: 0 auto;
}

@keyframes animate {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 300px;
    opacity: 1;
  }
}

.intro-scroll {
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.intro-scroll a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  text-shadow: #ee82ee 1px 0 8px;
}

.intro-scroll .scroll {
  width: 2px;
  background-color: #fff;
  margin: 0 auto;
  animation: scrollTo 2s ease-in infinite;
}

@keyframes scrollTo {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 100%;
  }
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.clouds img {
  position: absolute;
  bottom: 0;
  width: 1000px;
  max-width: 100%;
  animation: animateCloud calc(80s * var(--i)) linear infinite;
}

.clouds .cloud1 {
  animation: animateCloud1 calc(100s * var(--i)) linear infinite;
}

@keyframes animateCloud1 {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animateCloud {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #130559;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

/*--------- KNOW MORE -----------*/
.know-more {
  background: #f9f9f9;
  position: relative;
  padding: 120px 0 50px;
  display: flex;
  justify-content: center;
}

.know-more-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.know-more-picture {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.know-more-picture:hover .rectangle-picture {
  transform: rotate(10deg);
}

.rectangle-picture-wrapper {
  display: inline-block;
  position: relative;
}

.know-more-picture img {
  width: 350px;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  transition: 1s ease-in-out;
}

.rectangle-picture {
  width: 350px;
  height: 440px;
  border: 2px solid #ee82ee;
  position: absolute;
  top: -5%;
  left: -10%;
  z-index: 2;
  transition: 1s ease-in-out;
}

.know-more-text {
  /* display: inline-block; */
  width: 40%;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
}

.know-more-title {
  font-size: 30px;
  line-height: 39px;
}

.know-more-text p {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 0;
  padding-bottom: 15px;
}

.know-more-text a {
  color: #ee82ee;
  text-decoration: none;
}

.know-more-text span ~ h2 {
  padding: 30px 0 0 0;
}

.know-more-text .skill {
  display: inline-block;
  padding: 4px 10px;
  margin-right: 4px;
  margin-top: 6px;
  border: 1px solid #000;
  border-radius: 15px;
}

.work {
  background: #f9f9f9;
  position: relative;
  padding: 40px 0 100px;
}

.work-container {
  width: 80%;
  margin: 0 auto;
}

.work h2 {
  font-size: 30px;
  line-height: 39px;
  padding-bottom: 10px;
}

.work ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.work li {
  position: relative;
  width: 30%;
  height: 180px;
  transform-style: preserve-3d;
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.work a {
  display: inline-block;
  color: #000;
  width: 100%;
  height: 100%;
}

.work img {
  width: 100%;
}

.work h3 {
  font-size: 18px;
  line-height: 23px;
}

.work .work-info {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -20px;
  transform-origin: top;
  transform: translateZ(20px) scaleY(0);
  transition: 0.5s;
  transform-style: preserve-3d;
}

.work li:hover {
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}

.work li:hover .work-info {
  transform: translateZ(20px) scaleY(1);
}

.leboncoin {
  background-image: url(images/thumb-leboncoin.jpg);
}

.mountains {
  background-image: url(images/thumb-mountains.jpg);
}

.mac {
  background-image: url(images/thumb-mac.jpg);
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background: #333;
}

footer ul {
  list-style: none;
  padding: 50px 0;
}

/* @media only screen and (max-width: 500px) {
      padding-top: 20px; */

footer li {
  display: inline-block;
  padding: 0 10px;
}

/* @media only screen and (max-width: 500px) {
        display: inherit;
        text-align: center;
        padding: 5px 0;
      } */

footer a {
  display: inline-block;
  color: #fff;
}

.container-link {
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.container-link a {
  padding: 0 10px;
}

.container-link path {
  transition: all 0.3s ease-in-out;
}

#twitter:hover .color path {
  fill: #e0bbe4;
}

#behance:hover .color path,
#behance:hover .color polygon {
  fill: #957dad;
}

#linkedin:hover .color {
  fill: #d291bc;
}

#github:hover g {
  fill: #fec8d8;
}

#email:hover .color path,
#email:hover .color polygon {
  fill: #ffdfd3;
}

footer p {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  font-size: 12px;
  color: #fff;
  padding-bottom: 10px;
}

@media (max-width: 1200px) {
  .work li {
    height: 130px;
  }
}

@media (max-width: 1021px) {
  .list-work {
    width: 49%;
  }
}

@media (max-width: 960px) {
  .know-more-picture {
    padding-bottom: 30px;
    width: 100%;
  }

  .know-more-text {
    width: 100%;
    padding: 0;
  }

  .work li {
    width: 45%;
    height: 150px;
  }
}

@media (max-width: 520px) {
  .know-more {
    padding: 80px 0 20px;
  }

  .know-more-picture {
    display: none;
  }

  .work li {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .mail-desktop {
    display: none;
  }
}
