/* ---- reset ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  color: white;
  white-space: nowrap;
  text-align: center;
}

.intro-job {
  font-size: 18px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 5;
  animation: animate 3s linear;
}

.intro img {
  position: relative;
  z-index: 5;
  width: 150px;
  margin: 0 auto;
}

@keyframes animate {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 300px;
    opacity: 1;
  }
}

.intro-scroll {
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.intro-scroll p {
  color: white;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  text-shadow: #ee82ee 1px 0 8px;
}

.intro-scroll .scroll {
  width: 2px;
  background-color: #fff;
  margin: 0 auto;
  animation: scrollTo 2s ease-in infinite;
}

@keyframes scrollTo {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 100%;
  }
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.clouds img {
  position: absolute;
  bottom: 0;
  width: 1000px;
  max-width: 100%;
  animation: animateCloud calc(80s * var(--i)) linear infinite;
}

.clouds .cloud1 {
  animation: animateCloud1 calc(100s * var(--i)) linear infinite;
}

@keyframes animateCloud1 {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animateCloud {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #130559;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}
